header{
	background: rgba(0,0,0,0.4);
}

nav{
	background-color: transparent;
	height: 50px;
}

ul{
	margin: 0;
}

#banner{
	background-color: transparent;
	height: 700px;
}

nav ul{
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li, nav .logo{
	display: inline-block;
	line-height: 50px;
	
	margin-right: 20px;
}

nav ul li a{
	line-height: inherit;
	display: inline-block;
	height: inherit;	
	text-decoration: none;
	color: #fff;
}


nav .logo{
	float: left;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-left: 10px;
}

nav .logo a{
	color: #fff;
	text-decoration: none;
}

#banner .inner{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 20%;
}

#banner .inner h1{
	margin: 0;
	color: #fff;
}

#banner .inner .sub-heading{
	line-height: 30px;
	margin: 30px 0;
}

#banner .inner p{
	word-break:break-word;
	color: #fff;
}

button{
	border: none;
	background-color: #333;
	color: #eee;
	padding: 14px 40px;
}

#banner button{
	padding: 14px 40px;
}

#banner .inner .more{
	margin-top: 100%;
	color: #fff;
	font-size: 700;
}

#banner .inner .hr{
	border: none;
	margin: 0;
	background-color: #fff;
}

.active{
	border-bottom: 4px solid #fff;
}

h1{
	padding: 12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

h2{
	font-size: 30px;
	margin:0;
}
h3{
	font-size: 24px;
}

p{
	font-size: 18px;
	letter-spacing: 1px;
}

#main-btn{
	padding: 14px 28px;
	font-size: 20px;
	letter-spacing: 4px;
	border-radius: 6px;
	background-color: #18a;
}

.green-section{
	text-align: center;
	background-color: #089DB0;
	color: #fff;
	padding: 100px 0;
}

.green-section .hr{
	background-color: #078494;
	width: 60%;
}

.green-section .icon-group{
	margin-top: 60px;
}

.green-section .icon-group .icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	border: 1px solid #078494;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: 20px;
}

.wrapper{
	max-width: 1080px;
	margin: 0 auto;
}

.hr{
	width: 100%;
	height: 2px;
	margin: 20px auto;
}

.gray-section{
	background-color: #403B3B;
	color: #fff;
}


.gray-section .article-preview .img-section{
	width: 45%;
}

.gray-section .article-preview .img-section img{
	width: 100%;
}

.gray-section .article-preview .text-section{
	width: 55%;
	position: relative;
    top: 60px;
    left: 50px;
}

.gray-section .article-preview .text-section > *{
	max-width: 90%;
}

.gray-section .article-preview .text-section .sub-heading{
	font-size: 22px;
}

.gray-section .article-preview .text-section p{
	font-size: 18px;
	letter-spacing: 1px;
}


.gray-section .article-preview > div{
	float: left;
	font-size: 0;
}
.gray-section .article-preview:nth-child(odd){
	background-color: rgba(255,255,255,0.05);
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
}

.purple-section{
	padding: 80px;
	background-color: #3f3965;
	color: #fff;
}

.purple-section .heading-wrapper{
	text-align: center;
}

.purple-section .heading-wrapper .hr{
	background-color: #373259;
	width: 60%;
}

.purple-section .card-group .card{
	float: left;
	width: 50%;
	min-height: 300px;
	padding: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.purple-section .card-group .card:first-child{
	background-color: rgba(0,0,0,0.05);
}
.purple-section .card-group .card:nth-child(2){
	background-color: rgba(0,0,0,0.09);
}
.purple-section .card-group .card:nth-child(3){
	background-color: rgba(0,0,0,0.13);
}
.purple-section .card-group .card:nth-child(4){
	background-color: rgba(0,0,0,0.17);
}
.purple-section .card-group .card:nth-child(5){
	background-color: rgba(0,0,0,0.21);
}
.purple-section .card-group .card:nth-child(6){
	background-color: rgba(0,0,0,0.25);
}

footer{
	background-color: #333;
	color: #fff;
	min-height: 200px;
	text-align: center;
}

ul.share-group{
	display: block;
	width: 1080px;
	margin: 0 auto;
	padding: 50px;
}

ul.share-group li{
	display: inline-block;
	padding: 50px;
}

.copy{
	padding: 20px;
}

.main-wrapper{
	background: #444 url(../img/banner.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
